---
---
body{
    background-color: rgb(245, 245, 245);
    font-family: Roboto,'Noto Sans S Chinese','Hei','Mircosoft Yahei';
}

a:visited {color:#696969;}
a:link {color:#696969;}
a:hover {color:#898989;text-decoration:none;}
a:active {color:#898989;text-decoration:none;}

p{
    font-size: 18px;
}

.maincontent{
    padding-top: 15px;
    padding-bottom: 20px;
}

.titlehead{
    background-color: rgba(0,0,0,1);
    background-image: url('http://mdblog.astrianfm.com/Pics/psypho_pass/Psypho_pass.jpg');
    background-position: 100%;
    background-size:100%;
    background-repeat: no-repeat;
}

.page-title{
    padding-top: 15%;
    padding-bottom: 3%;
    color: white;
    font-family: 'STFangsong';
    font-style: italic;
}

.page-title p{
    font-size: 16px;
}

.nav{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background-color: rgb(60, 60, 60);
}

.nav a:visited {color:#f0f0f0;}
.nav a:link {color:#f0f0f0;}
.nav a:hover {color:#d9d9d9;text-decoration:none;}
.nav a:active {color:#d9d9d9;text-decoration:none;}

img{
    width: 100%;
}

.footer{
    background-color: rgb(60, 60, 60);
    color:#f0f0f0;
}

#tagline{
    color: rgb(252, 252, 252);
    font-family: 'La Belle Aurore', cursive;
    font-size: 28px;
    padding-top: 40px;
}

.footer-menu,.nav{
    color: #f0f0f0;
}

.footer-menu a:visited {color:#f0f0f0;}
.footer-menu a:link {color:#f0f0f0;}
.footer-menu a:hover {color:#d9d9d9;text-decoration:none;}
.footer-menu a:active {color:#d9d9d9;text-decoration:none;}

.content{
    padding-top: 10px;
}

#info{
    padding-top: 10px;
    padding-bottom: 30px;
}

#info p{
    font-size: 16px;
}

/* latin */
@font-face {
  font-family: 'La Belle Aurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url({{ site.url }}/Fonts/Irdbc4ASuUoWDjd_Wc3md0DwMynKqisKGM8n2t8HvXA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
