---
layout: default
title: Home
---
    
    <div class="articles">
    {% for post in site.posts %}
        <div>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <small>{{ post.date | date_to_string }}</small>
            <p>{{ post.excerpt }}</p>
        </div>
    {% endfor %}
        
        
    </div>

<nav>
  <ul class="pager">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> 旧的</a></li>
      {% else %}
    <li class="previous"><a href="/page{{paginator.previous_page}}"><span aria-hidden="true">&larr;</span> 旧的</a></li>
      {% endif %}
      {% else %}
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> 旧的</a></li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next"><a href="{{ site.url }}/page{{ paginator.next_page }}">新的 <span aria-hidden="true">&rarr;</span></a></li>
      {% else %}
      <li class="next disabled"><a href="#">新的 <span aria-hidden="true">&rarr;</span></a></li>
      {% endif %}
  </ul>
</nav>

    <div class="sidebar"></div>