<div class="titlehead">
              <div class="container">
                  <div class="page-title col-md-8 col-md-offset-2">
                      <h1>{{ site.title }}</h1>
                  </div>
              </div>
          </div>
          
          <div class="nav">
              <div class="container">
                  <div class="col-md-8 col-md-offset-2">
                      <a href="http://mdblog.astrianfm.com">主页</a>
                  </div>
              </div>
</div>
<!--修改标记1-->